<h1> Welcome! </h1>
<div class="paragraph-color-box">
  <input type="radio" name="colors" value="lightgreen" (click)="setColor($event)"> Green
  <input type="radio" name="colors" value="yellow" (click)="setColor($event)">Yellow
  <input type="radio" name="colors" value="cyan" (click)="setColor($event)">Cyan

  <p [appShowTips]="color">Highlight me!</p>
</div>

<nav class="navigation">
  <a routerLink="/todo" class="todo-link"> Show todo (template-driven form) </a>
  <a routerLink="/todo-reactive" class="reactive-todo-link"> Show reactive todo </a>
</nav>
