<h1> New form </h1>
<div [formGroup]="todoForm">
  <label> Todo:
    <input formControlName="todoName">
  </label>
  <div formGroupName="description">
    <label> Completed:
      <input type="checkbox" formControlName="completed">
    </label>
    <label> Comment:
      <input formControlName="comment">
    </label>
    <label> Mark:
      <select class="form-control" formControlName="mark">
        <option *ngFor="let mark of marks" [value]="mark">{{mark}}</option>
      </select>
    </label>
  </div>
  <button (click)="submit()"> submit </button>
</div>

<p>Form value: {{ todoForm.value | json }}</p>
